/* ================= TABLET ================= */

@media (max-width:1024px){


nav{

    padding:20px 5%;

}


.hero{

    padding:100px 5%;

}


.hero h1{

    font-size:55px;

}


.hero h2{

    font-size:28px;

}


.about,
.projects,
.skills,
.highlights,
.contact{

    padding:100px 5%;

}


.project-grid{

    grid-template-columns:repeat(2,1fr);

}


.highlight-grid{

    grid-template-columns:repeat(2,1fr);

}


.contact-container{

    flex-wrap:wrap;

}



}



/* ================= MOBILE ================= */


@media (max-width:768px){


nav{

    padding:20px 5%;

}


nav ul{

    gap:20px;

    flex-wrap:wrap;

    justify-content:flex-end;

}



.logo{

    font-size:24px;

}


/* HERO */


.hero{

    flex-direction:column-reverse;

    text-align:center;

    padding:120px 5% 80px;

}


.hero-left,
.hero-right{

    width:100%;

}


.hero h1{

    font-size:42px;

}


.hero h2{

    font-size:24px;

}


.description{

    margin:auto;

}


.buttons{

    flex-direction:column;

    align-items:center;

}


.btn-primary,
.btn-secondary{

    width:260px;

}


/* PROFILE IMAGE */


.hero-right img{

    max-width:300px;

    margin-bottom:40px;

}



/* SECTION TITLE */


.section-title h2{

    font-size:36px;

}



/* ABOUT */


.about-container{

    flex-direction:column;

}


.about-card{

    padding:30px;

}



/* PROJECTS */


.project-grid{

    grid-template-columns:1fr;

}


.project-content h3{

    font-size:24px;

}


/* SKILLS */


.skills-grid{

    grid-template-columns:1fr;

}



/* HIGHLIGHTS */


.highlight-grid{

    grid-template-columns:1fr;

}


.highlight-card h3{

    font-size:42px;

}



/* CONTACT */


.contact-container{

    flex-direction:column;

    align-items:center;

}


.contact-card{

    width:100%;

    max-width:350px;

}



/* FOOTER */


footer{

    padding:60px 5%;

}


}




/* ================= SMALL PHONES ================= */


@media (max-width:480px){


.hero h1{

    font-size:34px;

}


.hero h2{

    font-size:20px;

}


.description{

    font-size:16px;

}


.section-title h2{

    font-size:30px;

}


.project-image img{

    height:200px;

}


.highlight-card{

    padding:35px 20px;

}


.contact-card{

    padding:35px 20px;

}


}

@media(max-width:768px){


.project-card{

    min-width:300px;

}


.project-btn{

    width:45px;

    height:45px;

}


.prev-btn{

    left:-10px;

}


.next-btn{

    right:-10px;

}


}